:root{

    --primary:#2563EB;
    --primary-hover:#1D4ED8;

    --secondary:#4F46E5;

    --success:#22C55E;

    --warning:#F59E0B;

    --purple:#7C3AED;

    --cyan:#06B6D4;

    --background:#F8FAFC;

    --white:#FFFFFF;

    --heading:#1E293B;

    --text:#64748B;

    --footer:#0F172A;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f5f7fa;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}