.schemes{

    padding:90px 0;
    background:white;

}

.scheme-card{

    border:none;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;

}

.scheme-card:hover{

    transform:translateY(-8px);

}

.scheme-card .card-body{

    padding:30px;

}

.scheme-card h4{

    color:#0D6EFD;
    margin-bottom:20px;

}