.report-card{
    background:white;
    border-radius:12px;
    padding:25px;
    text-align:center;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
}

.report-card h3{
    font-size:34px;
    color:#0d6efd;
}

.approved h3{
    color:green;
}

.pending h3{
    color:#f39c12;
}

.rejected h3{
    color:#dc3545;
}